<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- 定时任务01：文章抓取任务 -->
    <bean id="quartzJob01" class="com.water.crawl.work.FetchArticleTask"></bean>


    <!-- 抓取IBM开发者社区的文章 -->
    <bean id="jobTask01" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="quartzJob01"/>
        </property>
        <property name="targetMethod">
            <value>fetchIBMArticles</value>
        </property>
    </bean>

    <!-- 抓取CSDN知识库下的所有文章 -->
    <bean id="jobTask02" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="quartzJob01"/>
        </property>
        <property name="targetMethod">
            <value>fetchCSDNArticleLib</value>
        </property>
    </bean>

    <!-- 抓取开源中国的资讯文章 -->
    <bean id="jobTask03" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="quartzJob01"/>
        </property>
        <property name="targetMethod">
            <value>fetchGreeArticle</value>
        </property>
    </bean>

    <!-- 抓取深度开源文章 -->
    <bean id="jobTask04" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="quartzJob01"/>
        </property>
        <property name="targetMethod">
            <value>fetchOpen2Open</value>
        </property>
    </bean>


    <!-- 时间分配 -->
    <!-- 每分钟扫描待处理的单次任务 -->
    <bean id="jobRunTime01" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobTask01"/>
        </property>
        <property name="cronExpression">
            <value>0 34 22 16 4 ?</value>
        </property>
    </bean>

    <!-- 每分钟扫描待处理的单次任务 -->
    <bean id="jobRunTime02" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobTask02"/>
        </property>
        <property name="cronExpression">
            <value>0 52 21 12 4 ?</value>
        </property>
    </bean>

    <!-- 每分钟扫描待处理的单次任务 -->
    <bean id="jobRunTime03" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobTask03"/>
        </property>
        <property name="cronExpression">
            <value>0 33 18 4 4 ?</value>
        </property>
    </bean>

    <!-- 每分钟扫描待处理的单次任务 -->
    <bean id="jobRunTime04" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobTask04"/>
        </property>
        <property name="cronExpression">
            <value>0 5 11 16 4 ?</value>
        </property>
    </bean>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="startQuertz" lazy-init="true" autowire="default"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="jobRunTime01"/>
                <ref bean="jobRunTime02"/>
                <ref bean="jobRunTime03"/>
                <ref bean="jobRunTime04"/>
            </list>
        </property>
    </bean>
</beans>